---
layout: page
title: ResistantBees
permalink: /resistantbees/
---




<body>
    <div>
    <!DOCTYPE html>
    <html>
        <head>
            <title>Example Title - appears in browser tab</title>
        </head>
        <body>
            
            <h1>Header One: Big Text</h1>
            <p>An example paragraph.</p>

            {% include big_cat.html %}
            <h3>das ist ne grosse Katze</h3>
            
        </body>
    </html>
    </div>
    
   
    


</body>

{% include footer.html %}



